<ion-header style="background-color:aliceblue  ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon style="height: 25px;width: 25px;margin-left: 5px; " name="arrow-back-outline" (click)="BACK()"></ion-icon> 
    <ion-title style="margin-left: 50px;" >WEAVING - RECEIPT</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>   
  <form [formGroup]="WeavingReceipt"> 
    <table style="margin-left: 10px;    width: 100%;"> 
      <tr>
        <td class="label-font"><span> Production  </span></td>
        <td> : </td>
      <td class="label-font Imp"  > 
     <ion-item>
      <input  style="background-color: white !important" class="Radio" [(ngModel)]="Production" (change)="Resupplys()" formControlName="Production"   type="radio"   value="YES">
      <label style="margin-left: 10px" for="YES">Yes</label> 
      <input style="margin-left: 20px;background-color: white !important;"   class="Radio"  type="radio"  [(ngModel)]="Production" (change)="Resupplys()"   formControlName="Production" id="NO" name="Production" value="NO">
      <label  style="margin-left: 10px" class="Radioval" for="NO">No</label><br>
      </ion-item>
 </td>
 </tr>
 
  <tr>
    <td class="label-font"><span> Unit Type  </span></td>
    <td> : </td>
    <td> 
      <ion-item>
      <input  class="Radio" [(ngModel)]="Own" (change)="UnitType()" formControlName="Own"   type="radio" name ="Own" id="YES"  value="1">
      <label style="margin-left: 10px; background-color: white !important " class="Radioval" for="YES">Own</label> 
      
      <input class="Radio" style="margin-left: 12px;"   type="radio"  [(ngModel)]="Own"  (change)="UnitType()" formControlName="Own" id="NO" name="Own" value="0">
      <label style="margin-left: 10px" class="Radioval" for="NO">Outside</label><br>
      </ion-item>
      </td>
   </tr>
 
   <tr>
    <td class="label-font"><span> WH  </span></td>
    <td> : </td>
    <td> 
    <!-- <ion-label class="label-font" style="padding-top: 13px; ">  <sup> * </sup>  </ion-label>  -->
  <ion-item>
    <ion-select
    formControlName="Warehouse"
  [(ngModel)]="Warehouse"
  interface="action-sheet"

  style="  font-family: Manrope, sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important; color: black;   max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;">
            <ion-icon class="field-icon" name="caret-down-outline" slot="end"></ion-icon>
          <ion-select-option
          style="max-width: max-content"
          *ngFor="let WAR of WH"
          >{{WAR.WarehouseName }}
        </ion-select-option>
</ion-select>
<ion-icon class="field-icon" name="caret-down-outline" slot="end"></ion-icon>
</ion-item>
 </td>
 </tr>
 <tr>
  <td class="label-font"><span> Party  </span></td>
  <td> : </td>
  <td> 
<ion-item> 
  <ionic-selectable
  [items]="PartyName"
  itemValueField="id"
  itemTextField="PartyName"
  [canSearch]="true"
  formControlName="PartyName"
  [(ngModel)]="PartyNamel"
  (onChange)="portChange($event)"
>
</ionic-selectable>
</ion-item>
</td>
</tr>
<tr>
  <td class="label-font"><span> WO No  </span></td>
  <td> : </td>
  <td> 
<ion-item>
  <!-- <ion-label class="label-font"> <sup> * </sup></ion-label> -->
    <ionic-selectable
    [items]="Workordr"
    itemValueField="id"
    itemTextField="WorkOrder"
    [canSearch]="true"
    formControlName="WorkOrder"
    [(ngModel)]="WorkOrder"
    (onChange)="portChange1($event)"
  >
  </ionic-selectable>
</ion-item>
</td>
</tr>
<tr>
  <td class="label-font"><span> Jw Order No </span></td>
  <td> : </td>
  <td> 
<ion-item>
  <!-- <ion-label class="label-font"> <sup> * </sup></ion-label> -->
   <ionic-selectable
    [items]="Orde"
    itemValueField="id"
    itemTextField="Orde"
    [canSearch]="true"
    formControlName="OrderNumber"
    [(ngModel)]="OrderNumber"
    (onChange)="portChangeOrdNo ($event)"
  >
  </ionic-selectable>
</ion-item>
</td>
</tr>
<tr>
  <td class="label-font"><span> DC No</span></td>
  <td> : </td>
  <td>
 
<ion-item>
  <!-- <ion-label class="label-font"> <sup> * </sup> :</ion-label> -->
   <ion-input type="text"
   formControlName="DC"
   [(ngModel)]="DC"></ion-input>
</ion-item>
 
</td>
</tr>
<tr>
  <td class="label-font"><span>Vehicle No</span></td>
  <td> : </td>
  <td>
 
<ion-item>
  <!-- <ion-label class="label-font"> <sup> *  </sup> :</ion-label> -->
   <ion-input type="text"
   formControlName="VehNo"
   [(ngModel)]="VehNo"
   (ionChange)="VehNoc()">
  </ion-input>
</ion-item>
 </td>
 </tr>
 
 <tr>
  <td class="label-font"><span>Time</span></td>
  <td> : </td>
  <td>
 
  <!-- <ion-label class="label-font"> <sup> * </sup> :</ion-label> -->
  <ion-item> 
   <ion-input type="Time"
   formControlName="InTime"
   [(ngModel)]="InTime"
   (ionChange)="IntimeChange()"></ion-input>
 </ion-item>
</td>
</tr>
<tr>
  <td class="label-font"><span>Gate Pass</span></td>
  <td> : </td>
  <td>
  <!-- <ion-label class="label-font">Gate Pass <sup> *  </sup> :</ion-label> -->
  <!-- <ion-label class="label-font"> <b> : </b></ion-label> -->
  <ion-item> 
  <ion-input
    type="text"
    class="label-font-value"
    formControlName="GatePass"
    [(ngModel)]="GatePass"
  ></ion-input>
 </ion-item>
 </td>
 </tr>
 <tr>
  <td class="label-font"><span>Driver Name</span></td>
  <td> : </td>
  <td>
<ion-item>
  <!-- <ion-label class="label-font"> <sup> * </sup> :</ion-label> -->
   <ion-input type="text"
   formControlName="DriverName"
   class="label-font-value"
   class="capitalize-first-letter"
   formControlName="GatePass"
   [(ngModel)]="DriverName"
   style=" text-transform: capitalize;">
  </ion-input>
</ion-item>
</td>
</tr>
</table>
 
 
<ion-row>
  <ion-col size="6">
   <button class="Button"  (click)="GridDetailLoad()" >ADD</button>
   </ion-col>
    <ion-col size="6">
      <button class="Button" (click)="clear()">Clear</button>
  </ion-col>
  </ion-row>

<ion-chip style="text-align: center;margin-top: 22px;margin-left: 25%;  font-family: 'Manrope', sans-serif;
font-size: 16px !important;
font-weight: 500;">PIECE COUNT : {{ this.count }}</ion-chip>
<div *ngFor="let GRD of  GridDetailsLoad; let optionindex = index" class="card"> 
<table  >
  <tr>
    <td class="label-font"><span>WorkOrder No  </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red;padding: 5px;">{{GRD.WorkOrderNo
    }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Order No   </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red;padding: 5px;">{{GRD.Order_No
    }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Total Mtr  </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red;padding: 5px;"> {{ GRD.OrderQty
    }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Received Mtr  </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red;padding: 5px;"> {{ GRD.Received
    }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Balance  </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red;padding: 5px;"> {{ GRD.OrderQty - GRD.Received | number : '1.2-2'  }}</td>
  </tr>
  </table>
  {{GRD.F_Count
  }}    {{GRD.Reed_Pick}}    {{GRD.F_Size}} {{GRD.Color}}   {{GRD.Design_Name
  }}   Ex Rec % : {{GRD.Ex_Rec_Per}}
  
<!--   
    <ion-col size="12"> 
      <label class="labe"> Bal :  <b  style="color: red;">   </b>  </label>
     </ion-col>
      -->
 
  <ion-row> 
    <ion-col size="12">
    <ion-item style="margin-left: -10px;">
      <ion-label class="label-font">Bale No :  <sup> * </sup> </ion-label> 
      <ion-input type="number"
      [(ngModel)]="BaleNo"
      formControlName="BaleNo">
      </ion-input>
    </ion-item>
    </ion-col>
    </ion-row>
  <ion-row> 
  <ion-col size="6">
  <ion-item style="background-color: gray;margin-left: -10px;">
    <ion-label class="label-font">Rec Size : </ion-label> 
    <ion-input type="number"
    [(ngModel)]="GRD.F_Size"
    formControlName="RecSize"
    [disabled]="true">
    </ion-input>
  </ion-item>
  </ion-col>

  <ion-col size="6">
    <ion-item >
      <ion-label class="label-font">Mtr : <sup> * </sup> </ion-label> 
      <ion-input type="number"
      [(ngModel)]="Mtr"
      formControlName="Mtr"
   >
        </ion-input>
    </ion-item>
    </ion-col>
    </ion-row>
    <ion-row> 
   
    <ion-col size="6">
      <ion-item style="margin-left: -17px;">
        <ion-label class="label-font">Wgt :  </ion-label> 
        <ion-input type="number"
        [(ngModel)]="Wgt"
        formControlName="Wgt">
          </ion-input>
      </ion-item>
      </ion-col>
      
      <ion-col size="6"  *ngIf="this.GridDetailsLoad[0].Beam_No == null " >
        <ion-item  >
          <ion-label class="label-font">Beam No  : </ion-label> 
          <ion-input type="number"
          [(ngModel)]="Beam"
          formControlName="Beam">
            </ion-input>
        </ion-item>
        </ion-col>
  
     
        <ion-col size="6" *ngIf="this.GridDetailsLoad[0].Beam_No != null ">
          <ion-item  >
            <ion-label class="label-font">Beam No  : </ion-label> 
            <ion-select
        class="label-font-value"
        formControlName="Beam"
        [(ngModel)]="Beam"
        interface="action-sheet"
         >
      <ion-select-option
      style="max-width: max-content"
 
      *ngFor="let WAR of GridDetailsLoad"
      >{{WAR.Beam_No }}
      </ion-select-option>
      </ion-select>
          </ion-item>
          </ion-col>
       
        </ion-row>
        <ion-row>
        <ion-col size="6" *ngIf="this.GridDetailsLoad[0].PartySetNo == null ">
          <ion-item style="margin-left: -17px;">
            <ion-label class="label-font">Set No : </ion-label> 
            <ion-input type="number"
            [(ngModel)]="Set"
            formControlName="Set">
              </ion-input>
          </ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="this.GridDetailsLoad[0].PartySetNo != null ">
            <ion-item style="margin-left: -17px;">
              <ion-label class="label-font">Set No : </ion-label> 
              <ion-select
        class="label-font-value"
        formControlName="Set"
        [(ngModel)]="Set"
        interface="action-sheet"
         >
      <ion-select-option
      style="max-width: max-content"
 
      *ngFor="let WAR of GridDetailsLoad"
      >{{WAR.PartySetNo }}
      </ion-select-option>
      </ion-select>
            </ion-item>
            </ion-col>
           <ion-col size="6">
            <ion-item >
              <ion-label class="label-font">Weft No : </ion-label> 
              <ion-input type="number"
              [(ngModel)]="Weft"
              formControlName="Weft">
                </ion-input>
            </ion-item>
            </ion-col> 
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item style="margin-left: -17px;">
                <ion-label class="label-font">Doffing Reason : </ion-label> 
                <select 
                [(ngModel)]="Reasonn"
                formControlName="Reasonn">
           
                <option
                  *ngFor="let c of Reason; let optionindex = index"
                   > 
                    {{c.val}}</option>  
                  </select>
              </ion-item>
              </ion-col> 
          </ion-row>
          <ion-row> 
            <ion-col size="6">        
              <button class="Button2"   (click)="itemClick(GRD, optionindex)">Apply</button>
              </ion-col>
            <ion-col size="6">        
             <button  class="Button1" [disabled]="isButton" (click)="SaveLoad()">Save</button>
             </ion-col>
            </ion-row>
         
 </div>
 
 <!-- </div> -->

 
  
 
</form>

</ion-content>
