<ion-header>
  <ion-toolbar>
   <ion-title class="title" style="text-align: center !important;font-size: 15px;">STORES RECEIPT <ion-chip style="background-color: lightgray;color: red;">BALANCE :  {{this.balance - this.totalQty}}</ion-chip>  </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- {{this.RecQty - }} -->
<ion-content>
  <form [formGroup]="StoreReceiptsave"> 
  <ion-grid>
    <ion-row>
    <ion-col  size="6"  size-md="6" size-lg="3">
      <ion-item>
        <ion-label class="label-font" >Qty<sup> * </sup> : </ion-label> 
          <ion-input
          class="label-font-value"
          formControlName="RecQty"
          [(ngModel)]="RecQty"
          (ionChange)="QtyChange()"
           >
         </ion-input>
      </ion-item>
      </ion-col> 
    <ion-col    size="6"    size-md="6" size-lg="3">
      <ion-item>
        <ion-label class="label-font" >Location :   </ion-label> 
          <ion-select
          class="label-font-value"
          formControlName="RackLocation"
          [(ngModel)]="RackLocation"
          interface="action-sheet"
          (ionChange)="Rackk()"
         >
          <ion-select-option
        style="max-width: max-content"
   
        *ngFor="let WAR of   this.location "
        >{{WAR.Location }}
      </ion-select-option> 
        </ion-select>
      </ion-item>
      </ion-col> 

      <ion-col   size="6"    size-md="6" size-lg="3">
        <ion-item>
          <ion-label class="label-font"  > Rack :   </ion-label> 
            <ion-select
            class="label-font-value"
            formControlName="Rack"
            [(ngModel)]="Rack"
            interface="action-sheet"
            (ionChange)="Rackchange()"
           >
            <ion-select-option
          style="max-width: max-content"
     
          *ngFor="let WAR of   this.RackLOAD"
          >{{WAR.Rack_Name }}
        </ion-select-option> 
          </ion-select>
        </ion-item>
        </ion-col> 
        <ion-col   size="6"    size-md="6" size-lg="3">
          <ion-item>
            <ion-label class="label-font"  > Bin :    </ion-label> 
              <ion-select
              class="label-font-value"
              formControlName="Bin"
              [(ngModel)]="Bin"
              interface="action-sheet"
              >
              <ion-select-option
            style="max-width: max-content"
       
            *ngFor="let WAR of   this.binLOAD"
            >{{WAR.Bin }}
          </ion-select-option> 
            </ion-select>
          </ion-item>
          </ion-col> 
          <ion-col   size="6"    size-md="6" size-lg="3">
            <ion-item>
              <ion-label class="label-font" > Lot No. <sup> * </sup> :  </ion-label> 
                <ion-input
                class="label-font-value"
                formControlName="LotNo"
                [(ngModel)]="LotNo"
                interface="action-sheet"
                >
                  </ion-input>
            </ion-item>
            </ion-col> 
            <ion-col   size="6"    size-md="6" size-lg="3">
              <ion-item>
                <ion-label class="label-font"  > Bale No   :  </ion-label> 
                  <ion-input
                  class="label-font-value"
                  formControlName="BaleNo"
                  [(ngModel)]="BaleNo"
                  interface="action-sheet"
                  >
                    </ion-input>
              </ion-item>
              </ion-col> 
              
                <ion-col   size="12"    size-md="6" size-lg="3">
                  <ion-item>
                    <ion-label class="label-font"  > No Of Pcs <sup> * </sup>:  </ion-label> 
                      <ion-input
                      type="number"
                      class="label-font-value"
                      formControlName="NoofPcs"
                      [(ngModel)]="NoofPcs"
                      interface="action-sheet"
                      >
                        </ion-input>
                  </ion-item>
                  </ion-col> 
             
                  <ion-row> 
                    <ion-col  size="6">
                     <button  class="label-font" class="Button" (click)="AddButoon()">Add</button>
                   </ion-col>
                  
                   <ion-col size="6">
                    <button  class="label-font" class="Button"  (click)="Clear()" >Clear</button>
                  </ion-col>
                  </ion-row>
               
                  <div *ngFor="let card of openedCards ; let optionindex = index" class="card">
                    <ion-row>
                      <ion-col size="1">
                    <img
                    *ngIf="card.selected == true"
                    class="avt-prod"
                    src="../../assets/icon/checked.png"
                    style="margin-left: 10px;"
                  />  
                </ion-col>
                <ion-col size="11">
                <ion-card-title style="text-align: center;color: red;"> {{this.RackLocation}} <span style="color: black;"> - </span>  {{this.Rack}}  <span style="color: black;"> - </span>  {{this.Bin}}</ion-card-title>   
             </ion-col>
              </ion-row>
                 <ion-row>
             
                  <ion-col   size="6"  size-md="6" size-lg="3">
                    <ion-item>
                      <ion-label class="label-font" >  Ok : </ion-label>
                     <ion-input
                    type="number"
                    class="label-font-value"
                     formControlName="Ok"
                     interface="action-sheet"
                    style="background-color: white;"
                    (ionChange)="QtyChanges()"
                    >
                </ion-input>
                  </ion-item>
                  </ion-col>
                  <ion-col   size-sm="6"    size-md="6" size-lg="3">
                    <ion-item>
                      <ion-label class="label-font"  > Defect :</ion-label> 
                      <ion-input
                      
                    type="number"
                      class="label-font-value"
                      formControlName="Defect"
                       interface="action-sheet"
                      style="background-color: white;"
                      (ionChange)="QtyChanges()"
                      >
                        </ion-input>
                       </ion-item>
                    </ion-col>
                    <ion-col   size="6"    size-md="6" size-lg="3">
                      <ion-item>
                        <ion-label class="label-font"  > Reject :   </ion-label> 
                        <ion-input
                        
                    type="number"
                        class="label-font-value"
                        formControlName="Reject"
                         
                        interface="action-sheet"
                        style="background-color: white;"
                        (ionChange)="QtyChanges()"
                        >
                          </ion-input>
                    </ion-item>
                    </ion-col>
                    <ion-col   size="6"    size-md="6" size-lg="3">
                      <ion-item>
                          <ion-label class="label-font"  > Shortage :  </ion-label> 
                          <ion-input
                           type="number"
                          class="label-font-value"
                          formControlName="Shortage"
                           interface="action-sheet"
                          style="background-color: white;"
                          (ionChange)="QtyChanges()"
                          >
                            </ion-input>
                            </ion-item>
                            </ion-col>
                              <button  size-md="6" size-lg="1" size-xs="12" class="label-font" class="Button2"    (click)="itemClick(card, optionindex)">Apply</button>
                              </ion-row>
                         </div>   
                  <div *ngIf="this.selectedArr !=''" >
                    <div *ngIf="this.balance >=   this.totalQty ">
                  <ion-col size="6">        
                    <button class="Button1" [disabled]="isButton" (click)="Save()">Save</button>
                    </ion-col>
                    </div>
                    </div>
                    </ion-row>
      </ion-grid>
      </form>
</ion-content>
