<ion-header>
  <ion-toolbar  >
    <ion-title>YARN RECEIPT</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="YarnReceiptForm">
    <div>
      
      <ion-item>
        <ion-label class="label-font"> WH <sup> * </sup> </ion-label>
        <!-- <ion-label class="label-font">
          <b> : </b>
        </ion-label> -->

        <ion-select
          class="label-font-value"
          formControlName="Warehouse"
          [(ngModel)]="Warehouse"
          interface="action-sheet"
          (ionChange)="Warehousechange($event)"
          style="font-family: 'Manrope', sans-serif;
          font-size: 16px !important;
          font-weight: 550;
          max-width: 100%;"
          
        >
          <ion-select-option
          class="label-font-value"
            style="max-width: max-content;font-family: 'Manrope', sans-serif;
            font-size: 16px !important;
            font-weight: 550;
            color: gray;"
            *ngFor="let WAR of WarehouseNameArr"
            >{{WAR.WarehouseName }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 7px">
        <ion-label class="label-font">Party   <sup> * </sup>:</ion-label>
        <!-- <ion-label class="label-font"> <b> : </b></ion-label> -->

        <ionic-selectable
          [items]="PartyName"
          itemValueField="id"
          itemTextField="PartyName"
          [canSearch]="true"
          formControlName="PartyName"
          (onChange)="portChange($event)"
        >
        </ionic-selectable>
      </ion-item>

      <ion-item>
        <ion-label class="label-font">WO No <sup> * </sup>:</ion-label>
        <!-- <ion-label class="label-font"> <b> : </b></ion-label> -->
        <ionic-selectable
          [items]="Workordr"
          itemValueField="id"
          itemTextField="WorkOrder"
          [canSearch]="true"
          formControlName="WorkOrder"
          (onChange)="portChange1($event)"
        >
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label class="label-font">PO No <sup> * </sup>:</ion-label>
        <!-- <ion-label class="label-font"> <b> : </b></ion-label> -->
        <ionic-selectable
          [items]="Orde"
          itemValueField="id"
          itemTextField="Orde"
          [canSearch]="true"
          formControlName="OrderNumber"
          (onChange)="portChangeOrdNo ($event)"
        >
        </ionic-selectable>
      </ion-item>

      <ion-item>
        <ion-label class="label-font">Gate Pass <sup> * </sup></ion-label>
        <!-- <ion-label class="label-font"> <b> : </b></ion-label> -->
         <div *ngIf="GatepassNumLoad.length == '' ">  
        <ion-input
          type="text"
          class="label-font-value"
          formControlName="GatePass"
          style="font-family: 'Manrope', sans-serif;
          font-size: 16px !important;
          font-weight: 550;"
        ></ion-input>
     </div> 
     <div *ngIf="GatepassNumLoad.length != '' ">  
        <ion-select
          class="label-font-value"
          formControlName="GatePass"
          interface="action-sheet"
          (ionChange)="onchangeGatePass($event)"
        >
          <ion-select-option
            *ngFor="let GP of GatepassNumLoad ; let optionindex = index"
            style="font-size: 13px"
          >
            {{ GP.GatePass_No }}
          </ion-select-option>
        </ion-select>
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="label-font"> DC No <sup> * </sup></ion-label>
        <!-- <ion-label class="label-font"> <b> : </b></ion-label> -->
        <ion-input
          class="label-font-value"
          formControlName="DcNo"
          [(ngModel)]="DcNo"
          interface="popup"
          interface="action-sheet"
          (ionChange)="onchangeDcNo($event)"
          style="font-family: 'Manrope', sans-serif;
          font-size: 16px !important;
          font-weight: 550;"
        >
        </ion-input>
      </ion-item>
    </div>
    <!-- <ion-row>
  <ion-col size="8">
    <ion-item class="label-font" style="margin-top: 7px">
      <ion-label style="color: black"> Date <sup> * </sup> : </ion-label>
      <ion-input
        type="Date"
        placeholder="Select Date"
        formControlName="CurDate"
        [(ngModel)]="CurDate"
        (ionChange)="onchangeDate($event)"
        [max]= "maxDate | date:'yyyy-MM-dd'"
      >
      </ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="4">
    <button class="Button1" (click)="Clear()">Clear</button>
  </ion-col>
  </ion-row> -->
    <!-- <button (click)="button()">Button</button>  -->
    <div class="Cardd">
      <ion-row>
        <ion-col size="6">
          <button class="label-font" class="Button" (click)="AddButoon()">
            Add
          </button>
        </ion-col>

        <ion-col size="6">
          <button class="label-font" class="Button" (click)="Clear()">
            Clear
          </button>
        </ion-col>
      </ion-row>
       
        <div class="bg-card bg-light" *ngFor="let rec of WsYarnYRECNOLoad">
          <b
            style="
              margin-top: -15px;
              margin-bottom: -26px !important;
              margin-left: 50px;   font-family: 'Manrope', sans-serif;
   font-size: 16px !important;
   font-weight: 550;
   color: rgb(243, 43, 43);
            "
            >Rec No : {{rec.entry_no}}</b
          >
        </div>
   

      <ion-card
        class="label-font"
        *ngFor="let GRI of GridDetailsLoad; let optionindex = index"
        (click)="itemClick(GRI, optionindex)"
      >
        <div class="divcard">
          <ion-card-content>
            <ion-row style="display: grid">
              <ion-col style="display: block" size="1">
                <img
                  *ngIf="GRI.selected == true"
                  class="avt-prod"
                  src="../../assets/icon/checked.png"
                />
                <img
                  *ngIf="GRI.selected == false"
                  class="avt-prod"
                  src="../../assets/icon/unchecked.png"
                />
              </ion-col>
              <p class="label-font">
                <span class="sp">Wrk No</span> <b> : </b>
                <span class="Imp" style="color: red">{{GRI.WorkOrderNo}}</span>
              </p>
              <p class="label-font">
                <span class="sp"> Po No</span>
                <b style="margin-left: 7px"> : </b>
                <span class="Imp">{{GRI.Y_PO_No}}</span>
              </p>
              <p class="label-font" style="color: red; font-weight: bold">
                <span class="sp">Count </span><b>: </b> {{GRI.Count}} |
                {{GRI.Color}} | <span>Rate</span> <b>:</b> {{GRI.Rec_Rate |
                number : '1.0-2' }}
              </p>

              <p class="label-font">
                <span class="sp">Ord </span><b>:</b> {{GRI.Ordered}} |
                <span class="sp">Rec </span> <b>:</b>{{GRI.Received }}
              </p>
              <p class="label-font" style="color: red; font-weight: bold">
                <span class="sp">Bal</span> <b> :</b>{{ GRI.bal | number :
                '1.0-2'}}   {{GRI.uom}} | <span class="sp">Now Rec Qty</span>
                <b> :</b>
                {{NowreQty}}
              </p>
              <p class="label-font">
                <span class="sp"> Mill</span>
                <b style="margin-left: 2px"> : </b> {{GRI.MillName}}
              </p>
              <p class="label-font">
                <span class="sp">Ex %</span> <b>:</b> {{GRI.Ex_Per}} |<span
                  class="sp"
                  >CardNo</span
                >
                <b>:</b> {{GRI.CardNo}} | <span class="sp">Remarks</span>
                <b> :</b>
                {{GRI.Remarks}}
              </p>
            </ion-row>

            <ion-row style="margin-bottom: 10px">
              <ion-col size="5"> </ion-col>
              <ion-col size="6">
                <button class="Button1" (click)="Save(); btn.disabled = true;">
                  Apply
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </div>
      </ion-card>

      <!-- <button class="Button" (click)="Save()">Save</button> -->
      <!-- <div class="divcard">
      <ion-card class="card">
        <div class="smallheader">
          <input
            id="actives"
           class="bg-card bg-light"
            *ngFor="let GRI of GridDetailsLoad; let optionindex = index"
            (click)="itemClick(c, optionindex)"
            name="card"
            type="radio"
            class="chb"
            style="background-color: #e75151; width: 20px; height: 30px"
          />
          <ion-card-content>
            <ion-row>
              <ion-col size="1">
                <img
                  *ngIf="c.selected == true"
                  class="avt-prod"
                  src="../../assets/icon/checked.png"
                />
                <img
                  *ngIf="c.selected == false"
                  class="avt-prod"
                  src="../../assets/icon/unchecked.png"
                />
                </ion-col>
                </ion-row>
                </ion-card-content>
          <ion-chip style= "margin-right: 10px;color: #e75151;margin-top: 10px;"> {{ index + 1 }}  </ion-chip>  
        </div>
        <p>Po : <span class="Imp">{{GRI.WorkOrderNo}}</span></p>
        <p>Ord : <span class="Imp">{{GRI.Y_PO_No}}</span></p>
        <p>Order : {{GRI.Ordered}} | Already Rec : {{GRI.Received
        }} </p>
      
        <p style="color: red;font-weight: bold;">  Bal : {{ GRI.Bal | number : '1.0-2'}} | {{GRI.uom}} </p>
        <p>Now Rec : {{NowreQty}}</p> 
        <p style="color: red;font-weight: bold;">Count : {{GRI.Count}} | {{GRI.Color}}</p>
        <p >Ex % : {{GRI.Ex_Per}} | CardNo : {{GRI.CardNo}}</p>
       
        <p>Pakes : {{GRI.Bags}} | Sub Pack : {{GRI.subpack }}</p>
        <p>Lot No: {{GRI.lot_no }} | WareHouse: {{GRI.WareHouse }}</p>
        <p>Mill : {{GRI.MillName}}</p>
        <p>Remarks : {{GRI.Remarks}}</p>
       </ion-card> -->

      <!-- <ion-row style="margin-bottom: 10px;">
        <ion-col size="4">
          <button class="Button" (click)="Save()">Save</button>
         
        </ion-col>
        <ion-col size="4">
          <button class="Button" (click)="Edit()">Edit</button>
        </ion-col>
        <ion-col size="4">
          <button class="Button" (click)="presentAlert()">Delete</button>
        </ion-col>
      </ion-row> -->
    </div>
  </form>
</ion-content>
