<ion-header>
  <ion-toolbar>
    
        <ion-title class="title" style="text-align: center !important;font-size: 15px;">PURCHASE FG - RECEIPT</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="FGReceipt"> 
    <table style="margin-left: 10px;    width: 100%;">
      <tr>
        <td class="label-font"><span> WH  </span></td>
        <td> : </td>
      <td class="label-font Imp"  >
    
      <ion-item>
        <!-- <ion-label class="label-font" style="padding-top: 13px;"> WH <sup> * </sup>  </ion-label>  -->
          <ion-select
          class="label-font-value"
          formControlName="Warehouse"
          [(ngModel)]="Warehousename"
          interface="action-sheet"
            >
        <ion-select-option
        style="max-width: max-content"
         *ngFor="let WAR of WH"
        >{{WAR.WarehouseName }}
      </ion-select-option>
        </ion-select>
      </ion-item>
 
      </td>
      </tr>
      <tr>
        <td class="label-font"><span> Order Type  </span></td>
        <td> : </td>
      <td class="label-font Imp"  >
    
        <ion-item>
          <!-- <ion-label class="label-font" style="padding-top: 13px;">  <sup> * </sup>  </ion-label>  -->
            <ion-select
            class="label-font-value"
            formControlName="OrderType"
            [(ngModel)]="OrderType"
            interface="action-sheet"
              >
             <ion-select-option
          style="max-width: max-content"
          class="ion-select-option"
          *ngFor="let ty of type"
          [value]="ty.typ"
          >{{ty.typ }}
        </ion-select-option>
          </ion-select>
        </ion-item>
         
        </td>
        </tr>
        <tr>
          <td class="label-font"><span> Sample / Bulk  </span></td>
          <td> : </td>
        <td class="label-font Imp"  >
     
          <ion-item>
            <!-- <ion-label class="label-font" style="padding-top: 13px;"> <sup> * </sup>  </ion-label>  -->
              <ion-select
              class="label-font-value"
              formControlName="Sample"
              [(ngModel)]="Sample"
              interface="action-sheet"
                >
            <ion-select-option
            style="max-width: max-content"
            class="ion-select-option"
             *ngFor="let sam of Sampleload"
             [value]="sam.sample "
            >{{sam.sample }}
          </ion-select-option>
            </ion-select>
          </ion-item>
      
     </td>
     </tr>
     <tr>
      <td class="label-font"><span> Supplier</span></td>
      <td> : </td>
    <td class="label-font Imp"  >
        <ion-item style="margin-top: 7px">
          <!-- <ion-label class="label-font"> <sup> * </sup></ion-label> -->
        <ionic-selectable
          [items]="PartyNameIns"
          itemValueField="id"
          itemTextField="PartyName"
          [canSearch]="true"
          formControlName="PartyName"
          [(ngModel)]="PartyName"
          (onChange)="portChanges($event)"
          style="max-width: 100%;   font-family: 'Manrope', sans-serif;
          font-size: 15px !important;
          font-weight: 500;"
    >
          </ionic-selectable>
          </ion-item>
          </td>
          </tr>
         
          <tr>
            <td class="label-font"><span>  PO No</span></td>
            <td> : </td>
            <td> 
        <ion-item>
          <!-- <ion-label class="label-font"  > <sup> * </sup>  </ion-label>  -->
          <ionic-selectable
          [items]="Workordr"
          itemValueField="id"
          itemTextField="WorkOrder"
          [canSearch]="true"
          formControlName="WorkOrder"
          [(ngModel)]="WorkOrder"
          (onChange)="WorkOrders($event)"
          style="max-width: 100%;   font-family: 'Manrope', sans-serif;
          font-size: 15px !important;
          font-weight: 500;
       "
          >
        </ionic-selectable>  
        </ion-item>
        </td>
     </tr>
   
 

    <tr>
      <td class="label-font"><span>  DC No</span></td>
      <td> : </td>
      <td> 
          <ion-item>
            <!-- <ion-label class="label-font"> <sup> * </sup>  </ion-label>  -->
              <ion-input
              class="label-font-value"
              formControlName="Dc"
              [(ngModel)]="DC"
              interface="action-sheet"
                ></ion-input>
             </ion-item>
       </td>
       </tr>
  <tr>
      <td class="label-font"><span>Gate Pass</span></td>
      <td> : </td>
      <td> 
            <ion-item>
              <div *ngIf="this.yarnseetings== 'False' ">  
                <ion-input type="text"
                class="label-font-value"
                formControlName="Gatepass"
                [(ngModel)]="Gatepass"
                
                ></ion-input>
                </div>
                <div *ngIf="GatepassNumLoad.length != '' "> 
              <!-- <ion-label class="label-font" style="padding-top: 13px;">  <sup> * </sup>  </ion-label>  -->
                <ion-input
                class="label-font-value"
                formControlName="Gatepass"
                [(ngModel)]="Gatepass"
                interface="action-sheet"
                  ></ion-input>
                  </div>
               </ion-item>
           </td>
           </tr>
    </table>
        <ion-row> 
          <ion-col  size="6">
           <button  class="label-font" class="Button" (click)="AddButoon()">ADD</button>
         </ion-col>
        
         <ion-col size="6">
          <button  class="label-font" class="Button"  (click)="Clear()" >CLEAR</button>
        </ion-col>
        </ion-row>
        <div *ngFor="let GRD of  receiptgrid; let optionindex = index" class="card"> 
        <ion-row>
          <ion-col size="1">
        <img
        *ngIf="GRD.selected == true"
        class="avt-prod"
        src="../../assets/icon/checked.png"
        style="margin-left: 10px;"
      />  
    </ion-col>
    </ion-row>
    <table>
      <tr>
        <td class="label-font"><span>Work Order No  </span></td>
        <td> : </td>
        <td class="label-font Imp" style="color: red">{{GRD.workorderno
        }} </td>
      </tr>
      <tr>
        <td class="label-font"><span>PO No   </span></td>
        <td> : </td>
        <td class="label-font Imp" style="color: red"> {{GRD.orderno
        }}</td>
      </tr>
      <tr>
        <td class="label-font"><span>Ordered   </span></td>
        <td> : </td>
        <td class="label-font Imp" style="color: red">{{GRD.ordqty
        }} </td>
      </tr>
      <tr>
        <td class="label-font"><span>Received   </span></td>
        <td> : </td>
        <td class="label-font Imp" style="color: red">{{GRD.RecQty
        }}</td>
      </tr>
      <tr>
        <td class="label-font"><span>Bal With Ex   </span></td>
        <td> : </td>
        <td class="label-font Imp" style="color: red">{{GRD.RecQty
        }}</td>
      </tr>
     
      </table>
      <table> 
        {{GRD.count
          }}  <b style="color: red;"> | </b> {{GRD.Color
          }}<b style="color: red;">| </b> {{GRD.size}}<b style="color: red;"> | </b> {{GRD.Specifications}} <b style="color: red;"> | </b>  <b>{{GRD.size
          }}</b>
          </table>
          <br>
          <ion-row>
          <ion-col   size="6"    size-md="6" size-lg="3">
            <ion-item>
              <ion-label class="label-font" >Qty<sup> * </sup>  </ion-label> 
                <ion-input
                class="label-font-value"
                formControlName="Qty"
               
                interface="action-sheet"
                  ></ion-input>
               </ion-item>
            </ion-col>  
            <ion-col   size="6"  size-md="6" size-lg="3">
              <ion-item>
                <ion-label class="label-font"  >Weight<sup> * </sup>  </ion-label> 
                  <ion-input
                  class="label-font-value"
                  formControlName="Weight"
                  interface="action-sheet"
                [disabled]="true"
                    ></ion-input>
                 </ion-item>
              </ion-col>  
              </ion-row>
          <ion-row> 
            <ion-col size="6">        
              <button class="Button2"    (click)="itemClick(GRD, optionindex)">Apply</button>
              </ion-col>
              </ion-row>
    
            </div>
            <div *ngIf="  this.selectedArr != ''">
            <ion-col size="6">        
              <button class="Button1"  (click)="Save()">Save</button>
              </ion-col>
              </div>
    
      </form>
</ion-content>
