
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&family=Roboto&display=swap');

ion-header{
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px !important;
}
.top-toolbar{
    --background:#FFBF00;
      --color: black;
      text-align: center;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: 10px !important;
}
.toolbar-container{
  padding: 0;
}
//  .icon {
//    background-color: #ffffff;
//    margin-top: 10px !important;
//    width: 70px;
//    height: 45px;
//  }
.title-img-container {
  width: 65%;
  height: auto;
  margin: 25px auto;
  padding: -30px;
  margin-top: -50px !important;
  margin-bottom: 8px;
//padding: 10px;
}
.company-img {
  width: 139%;
  height: 120%;
  object-fit: cover;
  margin-top: 20px;
}
.login-container{
  margin: 0 auto;
  width: 90%;
  display: grid;
  gap: 1rem;
}
.div-container{
width: 100%;
display: grid;
gap: 0.5rem;
}
label{
width: 100%;
font-family:  'Manrope' ;
font-size: 14px !important;
 font-weight: 500px !important;
}
sup{
  font-size: 15px;
  color: red;
}
 
// .icon
// {
//   color: navy;
//   width: 60%;
//   height: 60%;
// }
h6
{
  font-family:  'Manrope', sans-serif;
  font-size: 15px !important;
 
}
select{
    width: 100%;
    padding: 13px 0;
  //  font-weight: 600;
    border-radius: 6px;
    font-size: 15px;
     // border: 1px solid gray;
     // background-color: white !important;
      // background-image: url('../../assets/eye.jpg');
      // background-size: 20px; /* Adjust the size as needed */
      // background-position: right center;
      // background-repeat: no-repeat;
      // padding-right: 30px; /* Adjust the padding as needed to make space for the icon */
    
 }
 option{
  padding: 5px 10px;
 }
 
button
{
    width: 100%;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 10px;
    color:black;
    background-color: #00afb9;
  
}
.loginbtn{
  padding-top: 10px;
  margin-bottom: 20px;
}
.footer{
  display: grid;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}
p{
  padding: 0;
  margin: 0;
  text-align: center;
}
.alert 
{
color: red;
}

.footer {
  // display: grid;
  // gap: 0.3rem;
  // align-items: center;
  // justify-content: center;
     background-color:		aliceblue;
     border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      font-family:  'Manrope', sans-serif;
      font-size: 15px !important;
      box-shadow: -3px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
// .icon-inner, .ionicon, svg {
//   /* display: block; */
//   height: 60% !important;
//   width: 60% !important;
//   text-align: end !important;
// }