
 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;900&display=swap');
 
 
ion-content{
transform: translateY(25%);
}


 input{
  //  margin-top: -3px !important;
    width: 90%;
    height: 50px;
    // margin-left: 19px;
    border-radius: 5px;
 }
 .divImg{
   height: 80%;
   width: 80%;
   margin: 0 auto;
 }
 .company-img {
    padding: 15px;
    text-align: center;
    height: 100%;
    width: 100%;
    // margin-top: 130px;
    // margin-left: 70px;
  }
  
  
label
{
    color: black;
    // margin-left: 10px;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 19px;
}
button
{
    // margin-top: 20px !important;
    width: 90%;
    // height: 50px;
    padding: 15px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    // margin-left:19px;
    background-color: #00afb9;
    border-radius: 5px;
}
.box{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}