<ion-header>
  <ion-toolbar class="top-toolbar">
    <ion-title>Yarn  Return Receipt </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="YarnReturnReceiptForm">
    <ion-item>
      <ion-label> Warehouse : </ion-label>
      <ion-select
        class="label-font-value"
        formControlName="Warehouse"
        [(ngModel)]="Warehouse"
      >
        <ion-select-option *ngFor="let WAR of WarehouseNameArr"
          >{{WAR.WarehouseName }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 7px">
      <ion-label class="label-font">Party :</ion-label>

      <ionic-selectable
        [items]="PartyName"
        itemValueField="id"
        itemTextField="PartyName"
        [canSearch]="true"
        formControlName="PartyName"
        (onChange)="PartyName1($event)"
      >
      </ionic-selectable>
      </ion-item>
    <!-- <ion-item>
      <ion-label> Party : </ion-label>
      <ion-select
        class="label-font-value"
        formControlName="PartyName"
        [(ngModel)]="PartyName"
        interface="action-sheet"
      >
        <ion-select-option *ngFor="let PAN of PartyNameArr"
          >{{PAN.Name}}
        </ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item> 
    <ion-label> Wrk No : </ion-label>
    <ionic-selectable
    [items]="Workordr"
    itemValueField="id"
    itemTextField="WorkOrder"
    [canSearch]="true"
    formControlName="WorkOrder"
    (onChange)="portChange1($event)"
  >
  </ionic-selectable>
  </ion-item>
  <!-- <ion-item> 
    <ion-label> Ord No : </ion-label>
    <ionic-selectable
    [items]="Orde"
    itemValueField="id"
    itemTextField="Orde" 
    [canSearch]="true"
    formControlName="OrderNumber"
    (onChange)="portChangeOrdNo ($event)"
  >
  </ionic-selectable>
  </ion-item> -->
    <!-- <ion-item>
      <ion-label> Wrk No : </ion-label>
      <ion-select
        class="label-font-value"
        formControlName="WorkOrder"
        [(ngModel)]="WorkOrder"
        (ionChange)="onchangeWorkorder($event)"
        interface="action-sheet"
      >
        <ion-select-option *ngFor="let WNO of WorkOrderNumberArr"
          >{{WNO.WorkOrderNo}}
        </ion-select-option>
      </ion-select>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label> Order No : </ion-label>
      <ion-select
        class="label-font-value"
        formControlName="OrderNumber"
        [(ngModel)]="OrderNumber"
        (ionChange)="onchangeOrderNumber($event)"
        interface="popup"
        interface="action-sheet"
      >
        <ion-select-option *ngFor="let ONA of OrderNumberArr"
          >{{ONA. Yarn_Po_No}}
        </ion-select-option>
      </ion-select>
    </ion-item> -->
<ion-item>
      <ion-label> GatePass : </ion-label>
      <ion-input
       type="text"
      class="label-font-value"
      formControlName="GatePass"
      [(ngModel)]="GatePass"
      (change)="onchangeGatePass($event)"
      ></ion-input>
      <ion-select
      class="label-font-value"
       
      formControlName="GatePass"
      interface="action-sheet"
      class="label-font-value"
    > 
   
    
      <!-- <ion-select-option
        value="{{ECM.Emp_code}}#{{ECM.Name}}"
        *ngFor="let ECM of Empcodename "
        class="label-font"
      >
        {{ECM.Emp_code}}-{{ECM.Name}}     
      </ion-select-option> -->
    </ion-select>
      <!-- <ion-select
        class="label-font-value"
        formControlName="GatePass"
        [(ngModel)]="GatePass"
        (ionChange)="onchangeGatePass($event)"
        interface="popup"
        interface="action-sheet"
      >
        <ion-select-option *ngFor="let ONA of OrderNumberArr"
          >{{ONA. Yarn_Po_No}}
        </ion-select-option>
      </ion-select> -->
    </ion-item>
    <ion-item>
      <ion-label> Dc No : </ion-label>
      <ion-input
        class="label-font-value"
        class="formControl"
        formControlName="DcNo"
        [(ngModel)]="DcNo"
        interface="popup"
        interface="action-sheet"
      >
      </ion-input>
    </ion-item>

    <ion-item class="label-font" style="margin-top: 7px">
      <ion-label style="color: black"> Date : </ion-label>
      <ion-input
        slot=""
        type="date"
        placeholder="Select Date"
        formControlName="CurDate"
        [(ngModel)]="CurDate"
        (ionChange)="onchangeDate($event)"
      >
      </ion-input>
    </ion-item>
    <div *ngFor="let GRI of GridDetailsLoad;let index = index;"   class="divcard">
      <ion-card class="card">
        <div class="smallheader">
          <input
            id="actives"
            (click)="Add()"
            name="card"
            type="radio"
            class="chb"
            style="background-color: #e75151; width: 20px; height: 30px"
          />
          <p class="para_extra">S.No {{ index + 1 }}</p>
        </div>
        <p>Po : <span class="Imp">{{GRI.WorkOrderNo}}</span></p>
        <p>Ord : <span class="Imp">{{GRI.Y_PO_No}}</span></p>
        <p>Order : {{GRI.Ordered}} |  Now Rec :{{GRI.Now_Received_Qty}} </p>
        <p style="color: red;">  Bal : {{ GRI.bal }} | {{GRI.uom}} </p>
        <p>Count : {{GRI.Count}} | {{GRI.Color}}</p>
        <p>CardNo : {{GRI.CardNo}} </p>
       
        <!-- <p>Now Rec :{{GRI.Now_Received_Qty}}</p> -->
        <p>Pakes :{{GRI.Bags}} | Sub Pack :{{GRI.subpack }}</p>
        <p>Lot No:{{GRI.lot_no }} | WareHouse:{{GRI.WareHouse }}</p>
        <p>Mill :{{GRI.MillName}}</p>
        <p>Remarks :{{GRI.Remarks}}</p>

        <!-- <span>Now Rec :{{GRI.Now_Received_Qty}}</span>
        <span>{{ GRI.Color}} | {{ GRI.Count }}</span>
        <span>card:{{GRI.CardNo}}</span>
        <span>Ware:{{GRI.WareHouse}}</span>
        <span>Mill:{{GRI.MillName}}</span>
        <span>Rem:{{GRI.Remarks}}</span>
        <span>Stock:{{GRI.Stock_Pur}}</span> -->
      </ion-card>
      <ion-row>
        <ion-col size="4">
          <button class="Button" (click)="Save()">Save</button>
        </ion-col>
        <ion-col size="4">
          <button class="Button" (click)="Edit()">Edit</button>
        </ion-col>
        <ion-col size="4">
          <button class="Button" (click)="presentAlert()">Delete</button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
