<ion-header>
  <ion-toolbar>
     
    <ion-title class="title" style="text-align: center !important;font-size: 15px;">JOBWORK - RECEIPT</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 

    <form [formGroup]="jwReceipt"> 
      <table style="margin-left: 10px;    width: 100%;"> 
        <tr>
          <td class="label-font"><span> WH  </span></td>
          <td> : </td>
          <td > 
      <ion-item>
        
        <ion-select
        formControlName="Warehouse"
      [(ngModel)]="Warehouse"
      interface="action-sheet"
      (ionChange)="WhNameChange()"
      style="font-family: Manrope, sans-serif !important;
      font-size: 15px !important;
      font-weight: 500 !important; color: black;   max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;">
              <ion-select-option
              style="max-width: max-content"
              *ngFor="let WAR of WH"
              >{{WAR.WarehouseName }}
            </ion-select-option>
    </ion-select>
    </ion-item>
  </td>
  </tr>
  <tr>
    <td class="label-font"><span>  Job Work  </span></td>
    <td> : </td>
    <td > 
      <!-- <label   style="padding-top: 13px;margin-left: 15px;"> <sup> * </sup> : </label>  -->
        <select
        
        formControlName="JobWork"
        [(ngModel)]="JobWork"
        (change)="JobWorks()"
        style="margin-left: 4.5%;background: white !important"
      > 
       <b style="color: gray;"></b> 
    <option value="Fabric">Fabric</option>
    <option value="madeups">Madeups</option>
 
     </select> 
     </td>
     </tr>
     <tr>
      <td class="label-font"><span>  Process  </span></td>
      <td> : </td>
      <td > 
      <!-- <label style="padding-top: 13px;margin-left: 15px;"> Process <sup> * </sup> : </label>  -->
       <select
       formControlName="Process"
     [(ngModel)]="Process"
     (change)="ProcessChange()"
     style="margin-left: 4.5%;background: white !important">
     <option 
     *ngFor="let PROS of  ProcessName ; let optionindex = index"
       [ngValue]="PROS"  >
       {{ PROS.process }}
     </option>
     </select>
   </td>
   </tr>
   <tr>
    <td class="label-font"><span>  Party   </span></td>
    <td> : </td>
    <td > 
     <ion-item style="margin-top: 7px">
        <!-- <ion-label class="label-font">Party <sup> * </sup> :</ion-label> -->
      <ionic-selectable
          [items]="PartyNameIns"
        itemValueField="id"
        itemTextField="PartyName"
        [canSearch]="true"
        formControlName="PartyName"
        [(ngModel)]="PartyNamew"
        (onChange)="portChange($event)"
        
         >
        </ionic-selectable>
        </ion-item>
        </td>
        </tr>
     
        <tr>
          <td class="label-font"><span>   WO No   </span></td>
          <td> : </td>
          <td >
        <ion-item> 
          <!-- <ion-label  class="label-font"> <sup> * </sup> : </ion-label> -->
        <ionic-selectable
          [items]="Workordr"
          itemValueField="id"
          itemTextField="WorkOrder"
          [canSearch]="true"
          formControlName="WorkOrder"
          [(ngModel)]="WorkOrder"
          (onChange)="WorkOrders($event)"
           
         >
        </ionic-selectable>  
        </ion-item>
        </td>
        </tr>
        <tr>
          <td class="label-font"><span>  PO No   </span></td>
          <td> : </td>
          <td >
        <ion-item>
          <!-- <ion-label class="label-font"> <sup> * </sup>:</ion-label> -->
           <ionic-selectable
            [items]="Orde"
            itemValueField="id"
            itemTextField="Orde"
            [canSearch]="true"
            formControlName="OrderNumber"
            [(ngModel)]="OrderNumber"
            (onChange)="portChangeOrdNo($event)"
           
          >
          </ionic-selectable>
        </ion-item>
        </td>
        </tr>
        <tr>
          <td class="label-font"><span>  Slip No    </span></td>
          <td> : </td>
          <td >
       <ion-item>
        <!-- <ion-label class="label-font" style="padding-top: 13px;">: <sup> * </sup>  </ion-label>  -->
        <ion-input
        type="text"
        formControlName="SlipNo"
        [(ngModel)]="SlipNo"
        Change="SlipNo()"
        >
      </ion-input>
      </ion-item>
       </td>
       </tr>
      
      <!-- <ion-col size="6">
      <ion-item>
  
         <ion-input
          type="Date"
          class="label-font-value"
          formControlName="Date"
          [(ngModel)]="Date"
          max="{{Date | date:'yyyy-MM-dd'}}"
          style="margin-top: 9px;"
        >
       
        </ion-input>
      </ion-item>
    </ion-col> -->
    <!-- </ion-row> -->
    <tr>
      <td class="label-font"><span>   Gate Pass     </span></td>
      <td> : </td>
      <td >
    <ion-item>
      <!-- <ion-label class="label-font" style="padding-top: 13px;"><sup> * </sup>  </ion-label>  -->
      <div *ngIf="this.yarnseetings== 'False' ">  
   <ion-input type="text"
   class="label-font-value"
   formControlName="GatePass"
   [(ngModel)]="GatePass"
   
   ></ion-input>
   </div>
   <div *ngIf="GatepassNumLoad.length != '' ">  
    <ion-select
      class="label-font-value"
      formControlName="GatePass"
      interface="action-sheet"
  
    >
      <ion-select-option
        *ngFor="let GP of GatepassNumLoad ; let optionindex = index"
        style="font-size: 13px"
      >
        {{ GP.GatePass_No }}
      </ion-select-option>
</ion-select>
</div>
    </ion-item>
    </td>
    </tr>
    </table>
    <ion-row> 
      <ion-col  size="6">
       <button  class="label-font" class="Button" (click)="AddButoon()">Add</button>
     </ion-col>
    
     <ion-col size="6">
      <button  class="label-font" class="Button"  (click)="Clear()" >Clear</button>
    </ion-col>
    </ion-row>
    <div *ngFor="let GRD of   jwreceipt let optionindex = index" 

class="card">
<table>
  <tr>
    <td class="label-font"><span>Work Order No    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red"> {{GRD.WorkOrderNo
    }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Ordered    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red"> {{GRD.ordered
    }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Recived    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red"> {{GRD.recqty 
    }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Balance    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">   {{GRD.delivery - GRD.recqty  }}</td>
  </tr>
</table>
<table> 
{{GRD.F_Count
  }}  <b style="color: red;"> | </b> {{GRD.Reed_Pick}}<b style="color: red;">| </b> {{GRD.F_Size}}<b style="color: red;"> | </b> {{GRD.Color}} <b style="color: red;"> | </b>  <b>{{GRD.Design_Name
  }}</b>
  </table>
 <!-- <ion-row>
  <ion-col size="6">
    <label class="labe">Total Mtr : <br>
      <b style="color: red;">    {{ GRD.ordered


    }} </b></label> 
  </ion-col> -->
  <!-- <ion-col size="6">
    <label class="labe">Received Mtr : 50 <b  style="color: red;"> {{ GRD.Received
    }} </b> </label> 
    </ion-col>
    <ion-col size="12"> 
      <label class="labe"> Bal :  50 <b  style="color: red;"> {{ GRD.ordered
        - GRD.Received | number : '1.2-2'  }}  </b>  </label>
     </ion-col> -->
    <!-- </ion-row>
   -->
          <ion-row> 
            <ion-col size="6">        
              <button class="Button2"    (click)="itemClick(GRD, optionindex)">Apply</button>
              </ion-col>
            
            </ion-row>
         
 </div>
 </form>
 </ion-content>
