<ion-header>
  <ion-toolbar class="top-toolbar">
    <ion-title>  VIEW ENTRY</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="YarnReceiptForm">
    <table style="margin-left: 10px;    width: 100%;"> 
      <tr>
        <td class="label-font"><span> Party  </span></td>
        <td> : </td>
      <td class="label-font Imp" style="color: red;width: 76%;"> 
    <ion-item style="margin-top: 7px">
      <!-- <ion-label class="label-font">Party <b style="padding-left: 10px;">  </b> </ion-label> -->
     <ionic-selectable
        [items]="PartyName"
        itemValueField="id"
        itemTextField="PartyName"
        [canSearch]="true"
        formControlName="PartyName"
        (onChange)="portChange($event)"
      >
      </ionic-selectable>
      </ion-item>
 </td>
 </tr>
 <tr>
  <td class="label-font"><span>  WO No   </span></td>
  <td> : </td>
  <td> 
    <ion-item> 
    <ion-label class="label-font"> <b style="padding-left: 1px;">  </b> </ion-label>
    <ionic-selectable
    [items]="Workordr"
    itemValueField="id"
    itemTextField="WorkOrder"
    [canSearch]="true"
    formControlName="WorkOrder"
    (onChange)="portChange1($event)"
  >
  </ionic-selectable>
  </ion-item>
  </tr>
  <tr>
    <td class="label-font"><span> PO No   </span></td>
    <td> : </td>
    <td>
  <ion-item> 
    <!-- <ion-label class="label-font">   <b style="padding-left: 2.5px;">  </b>  </ion-label> -->
    <ionic-selectable
    [items]="Orde"
    itemValueField="id"
    itemTextField="Orde" 
    [canSearch]="true"
    formControlName="OrderNumber"
    (onChange)="portChangeOrdNo ($event)"
  >
  </ionic-selectable>
  </ion-item>
  </td>
  </tr>
  <tr>
    <td class="label-font"><span> From   </span></td>
    <td> : </td>
    <td>
  <ion-item style="margin-top: 1px">
    <!-- <ion-label class="label-font"> <b style="padding-left: 10px;">  </b></ion-label> -->
 
 <ion-input
 type="Date"
 class="label-font-value"
 formControlName="Date1"
 [(ngModel)]="Date1"
 max="{{Date | date:'yyyy-MM-dd'}}"
 style="margin-top: 9px;"
 (ionChange) ="DateChange($event)"
>

</ion-input>
 
</ion-item>
</td>
</tr>
<tr>
  <td class="label-font"><span> To   </span></td>
  <td> : </td>
  <td>
<ion-item style="margin-top: 1px">
   <!-- <ion-label class="label-font">To <b style="padding-left: 29px;">  </b></ion-label>
    -->
    <ion-input
    type="Date"
    class="label-font-value"
    formControlName="Date"
    [(ngModel)]="Date"
    max="{{Date | date:'yyyy-MM-dd'}}"
    style="margin-top: 9px;"
    (ionChange) ="DateChange($event)"
  >
 
  </ion-input>
  </ion-item>
  </td>
  </tr>
  </table>
  <ion-col size="3">
    <button class="Button1" (click)="Clear()">Clear</button>
   
  </ion-col>
  <div class="carddd" > 
   <ion-card
  class="bg-card bg-light"
  *ngFor="let GRI of GridDetailsLoad; let optionindex = index"
  (click)="itemClick(GRI, optionindex)"
>
 
  <ion-row>
    <ion-col size="1">
      <img
        *ngIf="GRI.selected == true"
        class="avt-prod"
        src="../../assets/icon/checked.png"
      />
    </ion-col>
    <div class="divcard"> 
      <span style="font-size: small;margin-left: 10px; " class="Imp">    <b>{{GRI.Y_Rec_Date}}</b> </span> 
      <ion-chip style="    margin-left: 194px;
      font-size: 13px !important;
      width: 33px;
      height: 20px;">{{optionindex +  1 }}</ion-chip><br>
      <span style="margin-left: 10px;"  class="Imp">  <b> {{GRI.Supplier_Name}} </b></span> <br>
      <span style="font-size: small;margin-left: 10px;" > <span>Rec No <b >  : </b> <b> {{ GRI.Y_Rec_No}}</b>   </span>  </span><br>
      <span style="font-size: small;margin-left: 10px;">  <span>Wo <b style="margin-left:1px;">  : </b> <b>{{GRI.WorkOrderNo}}</b> </span> </span><br>
    <span style="font-size: small;margin-left: 10px;">    <span>Po <b style="margin-left: 3px;">  : </b> <b>{{GRI.Y_PO_No}} </b></span>     </span><br>
   
    <!-- <span>Wo : <b>{{GRI.WorkOrderNo}}</b> </span><br> -->
 
    <!-- <p>Po  : <span class="Imp">{{GRI.Y_PO_No}}</span></p> -->
    <!-- <span>Record No : <b> {{ GRI.Y_Rec_No}}</b>   </span>   <br> -->
    <!-- <p>Order : {{GRI.Ordered}} | Already Rec : {{GRI.Received
    }} </p>
    <p>Now Received : <span class="Imp">{{GRI.Now_Received_Qty
    }}</span></p>
    <p style="color: red;font-weight: bold;">  Bal : {{ GRI.bal | number : '1.0-2'}} | {{GRI.uom}} </p>
      
    <p style="color: red;font-weight: bold;">Count : {{GRI.Count}} | {{GRI.Color}}</p>
 <p >Ex % : {{GRI.Ex_Per}} | CardNo : {{GRI.CardNo}}</p>
   
    <p>Pakes : {{GRI.Bags}} | Sub Pack : {{GRI.subpack }}</p>
    <p>Lot No: {{GRI.lot_no }} | WareHouse: {{GRI.WareHouse }}</p>
    <p>Mill : {{GRI.MillName}}</p>
    <p>Remarks : {{GRI.Remarks}}</p> -->
  </div>
    </ion-row>
 
    <ion-row style="margin-right: -177px;
    margin-bottom: 0px;">
      <ion-col size="6">
        <span style="margin-left: 10px"> <span> Qty <b style="margin-left:4px; ">  : </b> <b>{{GRI.Now_Received_Qty
        }} </b></span>  </span><br>
      </ion-col>
       <ion-col size="6">
     <button style="font-size: 20px;    margin-bottom: 7px;
     margin-left: 29px;" class="Button" (click)="presentAlert()"> <ion-icon style="" name="trash"> Delete </ion-icon></button>
     </ion-col>
     <!-- <ion-col size="6">
       <button class="Button" (click)="View()">   <ion-icon style="font-size: 20px;" name="eye">View   </ion-icon></button>   
 
  </ion-col> -->
    </ion-row>


    </ion-card>
  </div>
   <!-- <div class="divcard">
      <ion-card class="card">
        <div class="smallheader">
          <input
            id="actives"
           class="bg-card bg-light"
            *ngFor="let GRI of GridDetailsLoad; let optionindex = index"
            (click)="itemClick(c, optionindex)"
            name="card"
            type="radio"
            class="chb"
            style="background-color: #e75151; width: 20px; height: 30px"
          />
          <ion-card-content>
            <ion-row>
              <ion-col size="1">
                <img
                  *ngIf="c.selected == true"
                  class="avt-prod"
                  src="../../assets/icon/checked.png"
                />
                <img
                  *ngIf="c.selected == false"
                  class="avt-prod"
                  src="../../assets/icon/unchecked.png"
                />
                </ion-col>
                </ion-row>
                </ion-card-content>
          <ion-chip style= "margin-right: 10px;color: #e75151;margin-top: 10px;"> {{ index + 1 }}  </ion-chip>  
        </div>
        <p>Po : <span class="Imp">{{GRI.WorkOrderNo}}</span></p>
        <p>Ord : <span class="Imp">{{GRI.Y_PO_No}}</span></p>
        <p>Order : {{GRI.Ordered}} | Already Rec : {{GRI.Received
        }} </p>
      
        <p style="color: red;font-weight: bold;">  Bal : {{ GRI.Bal | number : '1.0-2'}} | {{GRI.uom}} </p>
        <p>Now Rec : {{NowreQty}}</p> 
        <p style="color: red;font-weight: bold;">Count : {{GRI.Count}} | {{GRI.Color}}</p>
        <p >Ex % : {{GRI.Ex_Per}} | CardNo : {{GRI.CardNo}}</p>
       
        <p>Pakes : {{GRI.Bags}} | Sub Pack : {{GRI.subpack }}</p>
        <p>Lot No: {{GRI.lot_no }} | WareHouse: {{GRI.WareHouse }}</p>
        <p>Mill : {{GRI.MillName}}</p>
        <p>Remarks : {{GRI.Remarks}}</p>
       </ion-card> -->


      <!-- <ion-row style="margin-bottom: 10px;">
        <ion-col size="4">
          <button class="Button" (click)="Save()">Save</button>
         
        </ion-col>
        <ion-col size="4">
          <button class="Button" (click)="Edit()">Edit</button>
        </ion-col>
        <ion-col size="4">
          <button class="Button" (click)="presentAlert()">Delete</button>
        </ion-col>
      </ion-row> -->
    
  </form>
</ion-content>
