<ion-header>
  <ion-toolbar class="top-toolbar">
    <ion-title class="title" style="text-align: center !important;font-size: 15px;">  VIEW ENTRY</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="YarnReceiptForm">
    <table style="margin-left: 10px;    width: 100%;"> 
      <tr>
        <td class="label-font"><span> Receipt Type  </span></td>
        <td> : </td>
      <td class="label-font Imp" style="color: red;width: 76%;"> 
    <ion-item style="margin-top: 7px">
      <ion-select
      class="label-font-value"
      formControlName="Type"
      [(ngModel)]="Type"
      interface="action-sheet"
      (ionChange)="typechange()"
        >
       <ion-select-option
    style="max-width: max-content"
    class="ion-select-option"
     *ngFor="let ty of type"
     [value]="ty.typ"
    >{{ty.typ }}
  </ion-select-option>
    </ion-select>
      </ion-item>
      </td>
      </tr>
      <tr>
        <td class="label-font"><span> Party Name  </span></td>
        <td> : </td>
      <td class="label-font Imp" style="color: red;width: 76%;"> 
    <ion-item style="margin-top: 7px">
      <!-- <ion-label class="label-font">Party <b style="padding-left: 10px;">  </b> </ion-label> -->
     <ionic-selectable
        [items]="PartyName"
        itemValueField="id"
        itemTextField="PartyName"
        [canSearch]="true"
        formControlName="PartyName"
        [(ngModel)]="PartyName1"
        (onChange)="portChange($event)"
      >
      </ionic-selectable>
      </ion-item>
 </td>
 </tr>
 <!-- <tr>
  <td class="label-font"><span>  WO No.   </span></td>
  <td> : </td>
  <td> 
    <ion-item> 
    <ion-label class="label-font"> <b style="padding-left: 1px;">  </b> </ion-label>
    <ionic-selectable
    [items]="Workordr"
    itemValueField="id"
    itemTextField="WorkOrder"
    [canSearch]="true"
    formControlName="WorkOrder"
    (onChange)="portChange1($event)"
  >
  </ionic-selectable>
  </ion-item>
  </tr> -->
  <!-- <tr>
    <td class="label-font"><span> PO No.   </span></td>
    <td> : </td>
    <td>
  <ion-item> 
     
    <ionic-selectable
    [items]="Orde"
    itemValueField="id"
    itemTextField="Orde" 
    [canSearch]="true"
    formControlName="OrderNumber"
    (onChange)="portChangeOrdNo ($event)"
  >
  </ionic-selectable>
  </ion-item>
  </td>
  </tr> -->
  <tr>
    <td class="label-font"><span> From   </span></td>
    <td> : </td>
    <td>
  <ion-item style="margin-top: 1px">
    <!-- <ion-label class="label-font"> <b style="padding-left: 10px;">  </b></ion-label> -->
 
 <ion-input
 type="Date"
 class="label-font-value"
 formControlName="Date1"
 [(ngModel)]="Date1"
 max="{{Date | date:'yyyy-MM-dd'}}"
 style="margin-top: 9px;"
 (ionChange) ="DateChange($event)"
>

</ion-input>
 
</ion-item>
</td>
</tr>
<tr>
  <td class="label-font"><span> To   </span></td>
  <td> : </td>
  <td>
<ion-item style="margin-top: 1px">
   <!-- <ion-label class="label-font">To <b style="padding-left: 29px;">  </b></ion-label>
    -->
    <ion-input
    type="Date"
    class="label-font-value"
    formControlName="Date"
    [(ngModel)]="Date"
    max="{{Date | date:'yyyy-MM-dd'}}"
    style="margin-top: 9px;"
    (ionChange) ="DateChange($event)"
  >
 
  </ion-input>
  </ion-item>
  </td>
  </tr>
  </table>
  <ion-row>
  <ion-col size="6">
    <button class="Button"  class="btn btn-outline-warning" style="margin-left: 40px;" (click)="Clear()">Apply</button>
     </ion-col>
     <ion-col size="6">
      <button class="Button"  class="btn btn-outline-warning" style="margin-left: 40px;" (click)="Clearbutton()">Clear</button>
       </ion-col>
      </ion-row>
  <div class="carddd" > 
    <ion-chip style="margin-left: 32%;background-color: yellowgreen ;color: white;"> Total Records : {{ GridDetailsLoad?.length }}</ion-chip>
   <ion-card
  class="bg-card bg-light"
  *ngFor="let GRI of GridDetailsLoad; let optionindex = index"
   > 
 
  <ion-row>
    <ion-col size="1">
      <img
        *ngIf="GRI.selected == true"
        class="avt-prod"
        src="../../assets/icon/checked.png"
      />
    </ion-col>
    <div class="divcard"> 
    <ion-chip>{{optionindex +  1 }}</ion-chip>
  <br>
 
      <table style="margin-left: 10px;    width: 100%;">
        <tr>
          <td class="label-font"><span> Name  </span></td>
          <td> : </td>
        <td class="label-font Imp"  >
          {{GRI.Supplier_Name}}
      </td>
      </tr>
        <tr>
          <td class="label-font"><span> Date  </span></td>
          <td> : </td>
        <td class="label-font Imp"  >
      {{GRI.Y_Rec_Date}} 
      </td>
      </tr>
        <tr>
          <td class="label-font"><span> Rec No.  </span></td>
          <td> : </td>
        <td class="label-font Imp"  >
      {{ GRI.Y_Rec_No}} 
      </td>
      </tr>
      <tr>
        <td class="label-font"><span> WO No.  </span></td>
        <td> : </td>
      <td class="label-font Imp"  >  {{GRI.WorkOrderNo}} 
        </td>
        </tr>
        <tr *ngIf="this.YarnReceiptForm.value.Type != 'Weaving' && this.YarnReceiptForm.value.Type != 'JobWork'  && this.YarnReceiptForm.value.Type != 'Knitting'">
          <td class="label-font"><span> PO No. </span></td>
          <td> : </td>
        <td class="label-font Imp"  >
   {{GRI.Y_PO_No}}  
 </td>
 </tr>
        
 <tr *ngIf="this.YarnReceiptForm.value.Type == 'JobWork'">
  <td class="label-font"><span>Process </span></td>
  <td> : </td>
<td class="label-font Imp"  >
  {{GRI.process
  }} 
  </td>
  </tr>
 <tr>
  <td class="label-font"><span> Qty </span></td>
  <td> : </td>
<td class="label-font Imp"  >
  {{GRI.Now_Received_Qty
  }} 
  </td>
  </tr>
  
  <tr  *ngIf="this.YarnReceiptForm.value.Type == 'Yarn'">
    <td class="label-font"><span> Uom </span></td>
    <td> : </td>
  <td class="label-font Imp"  >
    {{GRI.uom
    }} 
    </td>
    </tr>
   
  <tr *ngIf="this.YarnReceiptForm.value.Type != 'Yarn'">
    <td class="label-font"><span> Unit </span></td>
    <td> : </td>
  <td class="label-font Imp"  >
    {{GRI.Unit
    }} 
    </td>
    </tr>

 </table>
  </div>
    </ion-row>
 



    </ion-card>
  </div>

    
  </form>
</ion-content>
