@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&family=Roboto&display=swap');
 
.card
{ 
   font-size: 16px;
   color: black;
   padding-left: 19px;
   text-align: left;
   border-radius: 15px;
   margin: 0;
   box-shadow: none; 
   background-color:aliceblue;
   margin-bottom: 34px;
   margin-top: 20px !important;
   font-family: 'Manrope', sans-serif;
   font-size: 15px !important;
   font-weight: 500;
   width: 93%;
    margin-left: 15px;
    padding-top: 13px;
    padding-bottom: 30px;
    
}
.card1{

   font-size: 16px;
   color: black;
   padding-left: 19px;
   text-align: left;
   border-radius: 15px;
   margin: 0;
   box-shadow: none; 
   background-color:white;
   margin-bottom: 34px;
   margin-top: 20px !important;
   font-family: 'Manrope', sans-serif;
   font-size: 15px !important;
   font-weight: 500;
   width: 93%;
    margin-left: 15px;
    padding-top: 13px;
    padding-bottom: 10px;
}
.label-font
{
font-family: 'Manrope', sans-serif;
font-size: 15px !important;
font-weight: 500;
}
.Button2 {
   background-color:#00afb9;
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   border-radius: 10px;
   display: block;
   margin-top: 9px;
   margin-bottom: -11px;
   font-family: 'Manrope', sans-serif;
   font-size: 15px !important;
   font-weight: 500;
 }