<ion-header>
  <ion-toolbar>
    <ion-title class="title" style="text-align: center !important;font-size: 15px;"> YARN RECEIPT SAVE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="yarnrecipt"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="BagDetailsForm">
       <ion-row>
        <table style="margin-left: 15px;">
      <tr>
      <td class="label-font"><span> Qty (Kgs) </span></td>
      <td> : </td>
   
    <td class="label-font Imp" style="color: red">
      <ion-item>
    <ion-input
       type="number"
       formControlName="NowQty"
       [(ngModel)]="NowQty"
         (ionChange) ="QtyChange($event)"
    >
    </ion-input>
    </ion-item>
    </td>
    </tr>
    
 
  <tr>
    <td class="label-font"><span> Lot No </span></td>
    <td> : </td>
   
    <!-- <ion-label style="color: black"> Lot No : </ion-label> -->
    <td> 
      <ion-item>
    <ion-input
       type="text"
       formControlName="LotNo"
       (ionChange)="onchangeDate($event)"
       [(ngModel)]="LotNo"
    >
    </ion-input>
    </ion-item>
    </td>
   </tr>
 
 
   <tr>
    <td class="label-font"><span> Weight Per Pack </span></td>
    <td> : </td>
 
  <td class="label-font Imp" style="color: red">
    <ion-item> 
    <ion-input
       type="text"
       formControlName="wt"
       [(ngModel)]="wt"
       (ionChange)="onchangewt($event)"
    >
    </ion-input>
  </ion-item>
 </td>
 </tr>
 
 <tr>
  <td class="label-font"><span> Cones/Pack </span></td>
  <td> : </td>

<td class="label-font Imp" style="color: red">
  <ion-item> 
    <ion-input
       type="text"
       formControlName="Cones"
       [(ngModel)]="Cones"
       (ionChange)="onchangewt($event)"
    >
    </ion-input>
  </ion-item>
  </td>
  </tr>

  <tr>
    <td class="label-font"><span> Single Cone Wgt</span></td>
    <td> : </td>
  
  <td class="label-font Imp" style="color: red">
    <ion-item> 
    <ion-input
       type="text"
       formControlName="Single"
      [(ngModel)]="Single"
      (ionChange)="onchangewt($event)"
      disabled
    >
    </ion-input>
  </ion-item>
 </td>
 </tr>
 </table>
  <div class="Cardd">
  <ion-card class="card">
    <table> 
     <tr>
      <td class="label-font"><span>Count </span></td>
      <td> : </td>
       <td class="label-font Imp" style="color: red"> 
       {{ Count1 }} 
      </td>
      </tr>
        <tr>
      <td class="label-font">  Color   </td>
      <td> : </td>
    <td class="label-font Imp" style="color: red"> 
    {{ Color }} 
  </td>
</tr>
         <tr>
          <td class="label-font" > Ordered   </td>
          <td> : </td>
          <td class="label-font Imp" style="color: red">  {{ Ordered | number:'1.2-2' }} 
            </td>
  </tr>
  <tr>
    <td class="label-font"  > Ex Rec %   </td>
    <td> : </td>
    <td>  
        {{ Exper }} 
      </td>
      </tr>
      <tr> 
      <td class="label-font"  > Ex Bal  </td>
    <td> : </td>
    <td>  
       {{   orderEXbal1 | number:'1.2-2'  }}   </td>
       </tr>
<tr>
  <td class="label-font"  >  Received   </td>
  <td  class="label-font Imp" style="color: red"> : </td>
  {{ NRCQty  | number:'1.2-2' }}  
  </tr>
 
   <tr>
    <td class="label-font"  >  Balance  </td>
    <td> : </td>
    <td>  
    {{  orderEXbal1 -   NRCQty }} 
 </td>
 </tr>
 
 
     <tr> 
     <td class="label-font"  >  Total Order With EX </td>
     <td> : </td>
     <td>  
      <Label>  {{orderEXbal1  - Ordered | number:'1.2-2'}} 
        </Label>
        </td>
        </tr>
        </table>
 
</ion-card>
 

 
  <ion-row>
    <ion-col size="6">
  <button (click)="Add()">Add</button></ion-col>
  <ion-col size="6">
    <button (click)="Clear()">Clear</button></ion-col>
  </ion-row>
  
 <div  *ngIf ="this.add == '1' ">
  <ion-row style="text-align: center;">  
  <ion-col *ngIf="this.TotalConeWt !=0">   Total :  <b style="color:rgb(253, 7, 7);font-size: 22px;text-align: center;">{{PacktypeINT}}</b>  PACK  & <b style="color:rgb(253, 7, 7);font-size: 22px;"> {{ this.Conesweight }} </b>Cones  </ion-col>
 </ion-row>
<ion-row style="text-align: center;" >  <ion-col  size="12"> 
 Total Wgt (Kgs) :  <b style="color:rgb(253, 7, 7);font-size: 22px;text-align: center;"> {{ this.totalOverallweight  | number }}</b>   </ion-col></ion-row>
</div>
  <card style="width: 100px;height:200px"> 
 <div *ngFor="let a of Totalpacklist" class="Card" (click)="Save(a)">
  <table>
    <tr>
      <td class="label-font"><span>Type </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red">PACK</td>
    </tr>
    <tr>
      <td class="label-font"><span>No of Packs  </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red">{{ PacktypeINT }}</td>
    </tr>
    <tr>
      <td class="label-font"><span>Single Cone Wgt  </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red">{{ this.Single }}</td>
    </tr>
    <tr>
      <td class="label-font"><span>Cones/Pack  </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red">{{  this.Cones }}</td>
    </tr>
    <tr>
      <td class="label-font"><span>Single Pack Wgt  </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red">{{ a.wt }}</td>
    </tr>
     <tr>
      <td class="label-font"><span>Lot No  </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red"> {{  LotNo}} </td>
    </tr>
    <tr>
      <td class="label-font"><span>Pack No   </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red"> {{  CurrentPackNO }}</td>
    </tr>
    <tr>
      <td class="label-font"><span>Total Pack Wgt (Kgs)   </span></td>
      <td> : </td>
      <td class="label-font Imp" style="color: red">{{ a.TotalPack  | number }}</td>
    </tr>
    </table>
    <!-- <ion-col size="5" style="color:red ">  </ion-col>
    <ion-col size="7" style="color:red ">: <span style="color:red ;font-weight: bold;font-size: 22px;  "> </span> </ion-col></ion-row>
    <ion-row>  <ion-col size="12"> <b> : </b>  <span style="color:red ;font-weight: bold;  "> </span> </ion-col> </ion-row>
     <ion-row>  <ion-col size="12"> <b style="margin-left: 32px;"> : </b>  <span style="color:red ;font-weight: bold;  "></span> </ion-col>
    <ion-col size="8"> <b style="margin-left: 5px;"> : </b> <span style="color:red ;font-weight: bold;  "></span>  </ion-col>
    <ion-col size="4"> <b style="margin-left: 1px;"> :</b> </ion-col> </ion-row>
    <ion-row><ion-col size="12"><b style="margin-left: 55px;"> <b style="margin-left: 1px;"> : </b></b> </ion-col></ion-row>
    <ion-row></ion-row>
    <ion-row><ion-col style="color:red ;" size="12"> : <span style="color:red ;font-weight: bold;  "></span>   </ion-col></ion-row> -->
    </div>
 
 
 
 <div  *ngIf ="this.TotalConeWt !=0 && this.Single  < this.TotalConeWt ">
 <div *ngFor="let  b of TotalConelist" class="Card" (click)="Save(a)">
<table>
  <tr>
    <td class="label-font"><span>Type   </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">CONES</td>
  </tr>
  <tr>
    <td class="label-font"><span>No of Packs   </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">1</td>
  </tr>
  <tr>
    <td class="label-font"><span>Single Cone Wgt   </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">{{ this.Single }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>Cones/Pack    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">{{ this.Conesweight }} </td>
  </tr>
  <tr>
    <td class="label-font"><span>Single Pack Wgt    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">{{  this.SinglePackConeWeight | number }}</td>
  </tr>
  <tr>
    <td class="label-font"><span>LotNo    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">{{  LotNo}} </td>
  </tr>
  <tr>
    <td class="label-font"><span>Pack No    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">   {{ b.CurrentPackNO }}  </td>
  </tr>
  <tr>
    <td class="label-font"><span>Total Cone Wgt (Kgs)    </span></td>
    <td> : </td>
    <td class="label-font Imp" style="color: red">   {{  this.SinglePackConeWeight | number  }}  </td>
  </tr>
</table>


    <!-- <ion-row>
    <ion-col style="color:red " size="5">  :   </ion-col>
    <ion-col size="7" style="color:red"> :  <span style="color:red ;font-weight: bold;  ">  1  </span> </ion-col></ion-row>
    <ion-row><ion-col size="12"> <b> : </b>  <span style="color:red ;font-weight: bold;  "></span>  </ion-col> </ion-row>
    <ion-row> <ion-col size="12"> <b style="margin-left: 32px;"> : </b>   <span style="color:red ;font-weight: bold;font-size: 22px;  ">  </span></ion-col></ion-row>
    <ion-row><ion-col size="8"> <b style="margin-left: 5px;"> : </b>  <span style="color:red ;font-weight: bold;  ">   </span> </ion-col>
    <ion-col size="4"> <b style="margin-left: 1px;"> :</b>  {{  LotNo}} </ion-col> </ion-row>
    <ion-row><ion-col size="12"> <b style="margin-left: 60px;"> :</b> {{ b.CurrentPackNO }}</ion-col></ion-row>
 <!-- <ion-row><ion-col size="6">No of Pack : {{  this.PacktypeINT }}</ion-col></ion-row> -->

 <ion-row><ion-col style="color:red" size="12">Total Cone Wgt (Kgs) :   <span style="color:red ;font-weight: bold;  "> {{  this.SinglePackConeWeight | number  }} </span> </ion-col></ion-row>  
 </div>
 </div>
</card>

</div>
</ion-row>
</form>
</ion-content>
