<ion-menu contentId="main-content">
  <ion-header style="background-color: #FFBF00 !important;">
    <ion-toolbar>
    <b>  <ion-title >Goods Receipt</ion-title> </b>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content"
  style="background-image: url('../../assets/icon/255-2557580_transparent-literacy-clipart-paper-and-pencil-icon-hd.png');" class="ion-padding"> {{this.Company}} <br>{{this.user}}<br> {{this.year}}

<button (click)="Back()">LOGOUT</button>
</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-header [translucent]="true">
      <span class="title" style=" font-size: 15px;">GOODS RECEIPT CATEGORY</span>
 </ion-header>
    </ion-toolbar>
  </ion-header>
   </div>

 

<ion-content  >
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <span  >GOODS RECEIPT CATEGORY</span>
 
    </ion-toolbar>
  </ion-header>
      <ion-row>
        <div  *ngFor="let user of FeatureSeeting">
          <ion-col size-sm="6" *ngIf="user.Stores === 'Yarn Receipt'">
         <div style="background-color: white;" class="item" (click)="yarnreceipt()">
          <div class="img-container extras">
          <img class="img" src="../../assets/icon/2564327.png" alt="" />
        </div>
        <p class="item-title">
          YARN  RECEIPT<br />
         </p>
      </div>
      </ion-col>
    </div>
    <div  *ngFor="let user of FeatureSeeting">
      <ion-col size="6"   size-md="6"  size-lg="6" *ngIf="user.Stores === 'madeups_receipt'">
      <div style="background-color:  white;" (click)="yarnreceiptOpenForm()" class="item">
        <div class="img-container">
          
          <img class="img" src="../../assets/icon/375-3756557_subscribe-good-receipt-note-icon.png" alt="" />
        </div>
        <p class="item-title">  RECEIPT  VIEW</p>
      </div>
      </ion-col> 
      </div>
      <div  *ngFor="let user of FeatureSeeting">
      <ion-col size="6"   size-md="6"  size-lg="6" *ngIf="user.Stores === 'madeups_receipt'">
        <div style="background-color:white"(click)="fgpurchasereceipt()" class="item"  >
          <div class="img-container">
            <img class="img" src="../../assets/icon/download (1).jpg" alt="" />
          </div>
          <p class="item-title">FG RECEIPT </p>
        </div>
        </ion-col> 
        </div>
        <div  *ngFor="let user of FeatureSeeting">
          <ion-col size="6"   size-md="6"  size-lg="6" *ngIf="user.Stores === 'fabric_receipt'">
          <div  style="background-color:white"(click)="fabricpurchasereceipt()" class="item"  >
            <div class="img-container">
              <img class="img" src="../../assets/icon/nn.avif" alt="" />
            </div>
            <p class="item-title">FABRIC RECEIPT </p>
          </div>
          </ion-col> 
          </div>
          <div  *ngFor="let user of FeatureSeeting">
            <ion-col size="6"   size-md="6"  size-lg="6" *ngIf="user.Stores === 'fabric_receipt'">
      <div  style="background-color: white;"   (click)="weaving()" class="item"  >
        <div class="img-container">
          <img class="img" src="../../assets/icon/255-2557580_transparent-literacy-clipart-paper-and-pencil-icon-hd.png" alt="" />
        </div>
        <p class="item-title">WEAVING RECEIPT <br /></p>
      </div>
      </ion-col>  
      </div>

 <div  *ngFor="let user of FeatureSeeting">
          <ion-col size="6"   size-md="6"  size-lg="6" *ngIf="user.Stores === 'fabric_receipt'">
        <div style="background-color: white;" (click)="knittingreceipt()" class="item"  >
          <div class="img-container">
            <img class="img" src="../../assets/icon/225-2259396_computer-aided-design-icon-hd-png-download.png" alt="" />
          </div>
          <p class="item-title">KNITTING  RECEIPT </p>
        </div>
    </ion-col>
  </div>
  <div  *ngFor="let user of FeatureSeeting">
    <ion-col size="6"   size-md="6"  size-lg="6" *ngIf="user.Stores === 'fabric_receipt'">
       <div style="background-color: white;" (click)="jobworkreceipt()" class="item"  >
          <div class="img-container">
            <img class="img" src="../../assets/icon/521-5213757_invoice-png-icon-transparent-png.png" alt="" />
          </div>
          <p class="item-title">JOBWORK  RECEIPT </p>
        </div>
        </ion-col> 
  </div>
  <div  *ngFor="let user of FeatureSeeting">
    <ion-col size="6"   size-md="6"  size-lg="6" *ngIf="user.Stores === 'Purchase Receipt'">
      <div style="background-color: white"  class="item"  >
        <div class="img-container" (click)="storesreceipt()">
          <img class="img" src="../../assets/icon/download.png" alt="" />
        </div>
        <p class="item-title">STORES  RECEIPT </p>
      </div>
      </ion-col>
   </div>
         
       
   
  </ion-row>
 
</ion-content>
<ion-footer>
  <div class="footer">
   <ion-title style="text-align: center;font-size: 15px;">About us <br></ion-title>
   <ion-title style="text-align: center;font-size: 15px;"> Wins Soft Innovation Private Limited  </ion-title>
   </div>
</ion-footer>
